body {
  width: 800px;
  height: 600px;
  margin: 0px auto;
  background-color: #6a7b86;
  background-image: url("marketplace-header.png"), url("wallpaper.png");
  background-position: center top, center top;
  background-repeat: repeat-x, repeat;
  font-family: 'Open Sans', "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 32px;
  color: white;
}
.impress-supported .fallback-message {
  display: none;
}
.step.past {
  /*display: none;*/

  transition-property: opacity;
  transition-duration: 1s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
  opacity: 0;
}
.step.future {
  opacity: 0;
}
.step.past.active,
.step.future.active {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
}
.slide,
.step {
  width: 800px;
  height: 600px;
  padding: 15px;
}
.slide p,
.step p {
  text-align: center;
}
p,
li {
  font-size: 40px;
}
img.arrow {
  width: 100px;
  vertical-align: middle;
  margin-right: 30px;
}
#title.step h1,
#title.step h2,
#title.step h3 {
  text-align: justify;
  position: absolute;
}
#title.step h1.title {
  top: 20px;
  font-size: 2em;
  line-height: 110%;
}
#title.step h2.subtitle {
  bottom: 20px;
  font-size: 1.4em;
  line-height: 110%;
}
h3.name {
  position: absolute;
  top: 45%;
  font-weight: normal;
  font-size: 1.5em;
  vertical-align: middle;
}
#overview {
  text-align: justify;
}
#overview li:not(:first-child) {
  margin-top: 5%;
}
#overview .sub {
  color: #faf9e2;
}
.flip {
  transform: scalex(-1);
  -webkit-transform: scalex(-1);
}
#name-again.present img.arrow {
  transform: scalex(-1);
  -webkit-transform: scalex(-1);
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
#name-again.past img.arrow {
  transform: scalex(-1);
  -webkit-transform: scalex(-1);
}
#nicknames ul {
  margin-left: 130px;
}
#facebook-quote p.attribution {
  font-style: italic;
  text-align: right;
}
